*{
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
}

.destination{
    display: flex;
    gap: 1em;
}

.destination-img{
    width: 100%;
    margin: 1em;
}

.destination-img-con{
    width: 50%;
}

.destination-title, .destination-subtitle{
    text-align: center;
    margin: 1em;
}

.destination-txt{
    max-width: 416px;
    width: 100%;
    margin: 1.5em;
}

.destination-txt-con{
    margin-left: 4em;
}

.destination-facilities{
    margin: 1.3em;
}

.destination-list{
    margin: 1em;
    padding-left: 2em;
}

.destination-list-item{
    margin: 5px;
}