*{
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
}

img{
    max-width: 100%;
    width: 288px;
    height: 288px;
}

.apartment-title{
    margin: 10px;
}

.apartment-container{
    display: flex;
    flex-wrap:wrap;
    max-width: 90%;
    gap: 10px;
    border: 1px solid red;
}

.apartment-listing{
    background-color: #CEF9FF;
    max-width: 288px;
    padding: 26px 0 26px 0;
}

.apartment-listing-txt{
    margin: 0 10px 0 10px;
}